body {
    font-family: Arial, sans-serif;
    background-color: #504d4d;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#app {
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    display: block;
    align-items: center;
}
#zone{
    display: flex;
   
}
#tete{
    background-color:black;
}

.input-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#taskInput {
    flex-grow: 1;
    
}

#addTaskBtn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#entete{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 2px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    
   
    
}

#taskList li button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.completed {
    color: #ccc;
    /* Grise le texte de la tâche */
    text-decoration: line-through;
    /* Ajoute une barre à travers le texte */
  }
  h1{
    text-align: center;
    color: #e0e0e0;
  }
